@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps )))) with ASP.NET Core</a>.</p>
</div>

@foreach(var item in Model){
    <div >
        <div>Id:@item.id</div>
        <div>Id:@item.name</div>
        <div>Id:@item.balanc</div>
        <div>Id:@item.Creatad</div>
        <hr />
    </div>
    
}